.slidingContainer
  -for (var i = 0; i < collections.length; i++) // collections.length
      -var collection = collections[i]
      .collection2.closed
          header.cover.sliding(data-spacekey=collection.spaceKey, data-name=collection.name, class=collection.spaceKey)
              .card.cardHover.blackHover
                  h1.collectionTitle.titleType!=collection.name
                  .elementCount.smallType!=collection.elements.length
                  ul.users
                      li.user!=user.name
                      //- li.user.add
                              //- form
                                  //- input(type="text")
                                  //- input(type="submit")
          .collectionContent(class=collection.spaceKey, style="display:none;")
              -for (var j = 0; j < collection.elements.length; j++)
                  -var element = collection.elements[j]
                  include element
              include addElementForm