.slidingContainer
  -for (var i = 0; i < 4; i++) // collections.length
    -var collection = collections[i]
    .collection2.closed
      header.cover.card.sliding(data-spacekey=collection.spaceKey, data-name=collection.name, class=collection.spaceKey)
        h1.collectionTitle.headerType!=collection.name
        h1!=collection.elements.length
        ul.users
          li.user!=user.name
          //- li.user.add
              //- form
                //- input(type="text")
                //- input(type="submit")
      .collectionContent(class=collection.spaceKey, style="display:none;")
        -for (var j = 0; j < collection.elements.length; j++)
          -var element = collection.elements[j]
          include element
        include addElementForm