
- var root = 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'
//- - colors2 = colors || {}
//- - names2 = names || {}
- var classes = [element.contentType, "draggable"]

if element.contentType == 'text'
  if element.content.length >= 50
    - classes.push("long")
  else
    - classes.push("short")

- var posString = "top:"+element.y +"px;left:"+element.x+"px;z-index:"+element.z+";"
- var scaleString = "-webkit-transform:scale3d(1.0,1.0,1.0); transform:scale3d(1.0,1.0},1.0);"

article(id=element.id, class= classes, style=posString, data-contentType=element.contentType, data-content=element.content, data-creatorid=element.creatorId)
  .card(class= "color"+colors[element.creatorId])
    header

      author= names[element.creatorId]

    case element.contentType
      when 'image'
        img(src= root+current_space.spaceKey+"/"+element.content+'/small.jpg')

      when 'gif'
        img(src= root+current_space.spaceKey+"/"+element.content+'/normal.png')

      when 'website'
        -var content = JSON.parse(element.content)
        -var url = decodeURIComponent(content.url)
        img(src=content.image)
        .title
          p!=content.title
        .url
          a(href=url, target='_blank')
            p!=content.domain

      when 'file'
        img(src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/File-512.png")
        .title
          p!=element.content.split('/').pop()

      when 'video'
        video("controls")
          source(src=element.content)
          | Your browser does not support the video tag

      default
        p!= element.content