- var root = 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'
- var classes = [ element.contentType, "draggable" ]

if element.contentType == 'text'
  if element.content.length >= 50
    - classes.push("long")
  else
    - classes.push("short")

- var posString = "top:"+element.y +"px;left:"+element.x+"px;z-index:"+element.z+";"
- var scaleString = "-webkit-transform:scale3d(1.0,1.0,1.0); transform:scale3d(1.0,1.0},1.0);"

article(id=element.id, class= classes, style=posString+scaleString, data-content=element.content, data-creatorid=element.creatorId, data-contenttype=element.contentType)
  .card(data-key=element.content, class=element.contentType)
    if names[element.creatorId] != ""
      author= names[element.creatorId]
   
    case element.contentType
      when 'image'
        - if (typeof(original_url) !== 'undefined'){
          img(src= original_url)
        - } else {
          img(src= root+current_space.spaceKey+"/"+element.content+'/small.jpg')
        - }

      when 'gif'
        //- img(src= root+current_space.spaceKey+"/"+element.content+'/normal.png')
        - if (typeof(original_url) !== 'undefined'){
          img(src= original_url)
        - } else {
          img(src= root+current_space.spaceKey+"/"+element.content+'/normal.gif')
        - }

      when 'website'
        -var content = JSON.parse(element.content)
        -var url = decodeURIComponent(content.url)
        img(src=content.image)
        a(href=url, target='_blank')
          .text
            .title
              p!=content.title
            .url
              p!=content.domain

      when 'file'
        img(src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/File-512.png", width=256)
        .title
          p!=element.content.split('/').pop()

      when 'video'
        video()
          source(src=element.content)
          img(src=element.content+'.png')
      
      when 'soundcloud'
        -var content = JSON.parse(element.content)
        
        //- a(href=content.thumbnail, target='_blank')
        //-   .text
        //-     .title
        //-       p!=content.title
              //- p!=content.domain
        //- img(src=content.thumbnail, style="position: absolute;")
        //-   .text
        //-     .title
        //-       p!=content.title
        .iframeBlocker(style="position: absolute; top: 0; left: 0; width: 100%; height: 500px")
        //- div(style="position:absolute")
        
        .foo(style="position:absolute")
          p!= content.html
        img.soundcloudThumbnail(src=content.thumbnail, style="position:absolute;visibility:visible;")

      default
        p!= element.content