- var root = 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'
- var classes = [ element.contentType, "element", "slider", collection.spaceKey]

- var posString = "position:absolute;"

article(id=element.id, class=classes, style= posString, data-contenttype=element.contentType, data-creatorid=element.creatorId, data-content=element.content)
  .content.cardHover.invertHover
    .elementControls
      - if (typeof(collection.nameMap) !== "undefined") {
        author= collection.nameMap[element.creatorId].name
      - }    
      a.elementDeleteButton.warning(href='#') Delete
    case element.contentType
      when 'file'
        .decorative.fold
    .card(class=element.contentType)
      //- if names[element.creatorId] != ""
      //-   author= names[element.creatorId]
     
      case element.contentType
        when 'image'
          - var content = JSON.parse(element.content)
          - if (typeof(content.original_url) !== 'undefined'){
            img(src= content.original_url)
          - } else { 
            img(src= root+collection.spaceKey+"/"+content.key+'/small.jpg')
          - }
  
        when 'gif'
          -var content = JSON.parse(element.content)
          - if (typeof(content.original_url) !== 'undefined'){
            img(src= content.original_url)
          - } else {
            img(src= root+collection.spaceKey+"/"+content.key+'/normal.gif')
          - }
  
        when 'website'
          -var content = JSON.parse(element.content)
          -var url = decodeURIComponent(content.url)
          .text
            header
              h1!=content.title
              .url!=content.domain
            .description!=content.description
          img(src=content.image)
          a(href=url, target='_blank', title='Go to ' + content.title)
  
        when 'file'
          header
            - name = element.content.split('/').pop()
            //- - extension = name.pop()
            h1.title=name.split('.')[0]
            p.extension=name.split('.').pop()
          ul.cardActions
            li.right
              a.download.confirm(href='#') Download

        when 'video'
          video()
            source(src=element.content)
            img(src=element.content+'.png')
        
        when 'soundcloud'
          -var content = JSON.parse(element.content)
          //- title, description, thumbnail_url, html, author_name, author_url
          img.soundcloudThumbnail(src=content.thumbnail_url)
          header
            .top
                h1.title!=content.title
                .artist!=content.author_name
            .detail
              .source SoundCloud
        
        when 'youtube'
          - url = "//www.youtube.com/embed/"+ element.content
          iframe(width="560", height="315", src= url, frameborder="0", allowfullscreen)

        when 'text'
          //- textarea.modify(name='content', style='height:300px')!=element.content
          .editable(contentEditable="true", designmode="on")
            !{element.content}
        default
          p!=element.content