- var root = 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'
- var classes = [ element.contentType, "element"]

- var posString = "position:absolute;" // #top:"+0+"px;left:"+(j*elem_width)+"px;"  
  //- = "transform:translate(1.0)"

article(id=element.id, class=classes, style= posString, data-contenttype=element.contentType, data-creatorid=element.creatorId, data-content=element.content)
  .card(class=element.contentType)
    //- if names[element.creatorId] != ""
    //-   author= names[element.creatorId]
    author Sem Adipiscing
   
    case element.contentType
      when 'image'
        - var content = JSON.parse(element.content)
        - if (typeof(content.original_url) !== 'undefined'){
          img(src= content.original_url)
        - } else { 
          img(src= root+collection.spaceKey+"/"+content.key+'/small.jpg')
        - }

      when 'gif'
        -var content = JSON.parse(element.content)
        - if (typeof(content.original_url) !== 'undefined'){
          img(src= content.original_url)
        - } else {
          img(src= root+collection.spaceKey+"/"+content.key+'/normal.gif')
        - }

      when 'website'
        -var content = JSON.parse(element.content)
        -var url = decodeURIComponent(content.url)
        .text
          header
            h1!=content.title
            .url!=content.domain
          .description!=content.description
        img(src=content.image)
        a(href=url, target='_blank', title='Go to ' + content.title)

      when 'file'
        img(src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/File-512.png", width=256)
        .title
          p!=element.content.split('/').pop()

      when 'video'
        video()
          source(src=element.content)
          img(src=element.content+'.png')
      
      when 'soundcloud'
        -var content = JSON.parse(element.content)
        //- .iframeBlocker(style="positidon: absolute; top: 0; left: 0; width: 100%; height: 500px")
        //- .iframeContainer(style:"display:none")
        //-   p!= content.html
        img.soundcloudThumbnail(src=content.thumbnail)

      when 'text'
        textarea.modify(name='content', style='height:300px')!=element.content

      default
        p!= element.content