.slidingContainer
	//- .collection.root.closed(data-spacekey=collection.spaceKey, class=collection.spaceKey)
	article.root.cover.slider.sliding(data-spacekey=collection.spaceKey, data-name=collection.name, class=collection.spaceKey)
		.card.cardHover.colored
			section.title
				h1.collectionTitle.typeTitle.typeOutlineClear!=collection.name
				h2.peekTitle.bodyType.typeBody.typeWeightBold!=collection.name
		//- .collectionContent(class=collection.spaceKey, style="display:none;")
			//- include collectionContent

//- # Structure while expanded 
//- .slidingContainer
//- 	.collection
//- 		.cover
//- 		.collectionContent
//- 			.element
//- 			.element
//- 			.collection
//- 				.cover
//- 				.collectionContent
//- 			.element