- var creator = current_space.creator
- var isCreator = current_user.id == creator.id

script.
  creator="#{creator.name}";
  username = "#{current_user.name}";
  userId = "#{current_user.id}";
  users =  !{JSON.stringify(users)}
  names = !{JSON.stringify(names)}

ul.users.menu.right.hideFirst.hidden
  li.first.visible
    a(href="#") Share
  li.inputText.visible
    form.add-user
      label Share this space with someone
      input(type="email", name="user[email]", placeholder="email address")
      input(type="submit", style="visibility: hidden;display:none;")
  li.visible.heading Current members of this space
  each user in current_space.users
    name = user.name.split(' ')
    if user.name != null
      li.visible.user()
        span.name= name[0] + " " + name[1]