- var creator = current_space.creator
- var isCreator = current_user.id == creator.id

script.
  creator="#{creator.name}";
  username = "#{current_user.name}";
  userId = "#{current_user.id}";
  users =  !{JSON.stringify(users)}
  names = !{JSON.stringify(names)}

ul.users
  //- if isCreator
  //-   li.user.color0.online(data-id=current_user.id)
  //-     span.owner
  //-       span.initial D
  //-       span.name enice
  //-       span.initial L
  //-       span.name avigne

  //- else
  //-   li John Appleseed
  //-   li.user(data-id=current_user.id)=current_user.name
  //- each user in current_space.users
  //-   if user.id != current_user.id
  //-     if user.id != creator.id && isCreator
  //-       li.deletable-user(data-id=user.id)=user.name
  //-     else if user.id == creator.id
  //-       li(data-id=user.id) #{user.name} (owner)
  //-     else
  //-       li(data-id=user.id)=user.name
  each user in current_space.users
    li.user(class = "color"+colors[user.id])
      - names = user.name.split(' ')
      span.initial= user.name[0]
      span.name= names[0].slice(1)
      if names[1]
        span.initial= names[1][0]
        span.name= names[1].slice(1)

  //- li.user.color1.online
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  //- li.user.color2
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  //- li.user.color3
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  //- li.user.color4
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  //- li.user.color5.online
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  //- li.user.color9
  //-   span.initial D
  //-   span.name enice
  //-   span.initial L
  //-   span.name avigne
  li.settings
    span.symbol
      …
    ul.menu.settings
      li
        form.add-user
          input(type="text", name="user[email]", placeholder="Invite someone to this space")
          input(type="submit", style="visibility: hidden;")
      li
        a.logout(href="/logout") Logout