- var creator = current_space.creator
- var isCreator = current_user.id == creator.id

script.
  creator="#{creator.name}";
  username = "#{current_user.name}";
  userId = "#{current_user.id}";
  users =  !{JSON.stringify(users)}
  names = !{JSON.stringify(names)}

ul.users
  if isCreator
    li.user.color0.online(data-id=current_user.id)
      span.owner
        span.initial D
        span.name enice
        span.initial L
        span.name avigne

  else
    li John Appleseed
    li.user(data-id=current_user.id)=current_user.name
  each user in current_space.users
    if user.id != current_user.id
      if user.id != creator.id && isCreator
        li.deletable-user(data-id=user.id)=user.name
      else if user.id == creator.id
        li(data-id=user.id) #{user.name} (owner)
      else
        li(data-id=user.id)=user.name
  li.user.color4.online
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color5.online
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color5
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color6
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color7
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color8.online
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.user.color9
    span.initial D
    span.name enice
    span.initial L
    span.name avigne
  li.settings
    span.symbol
      …
    ul.menu.settings
      li
        form.add-user
          input(type="text", name="user[email]", placeholder="Invite someone to this space")
          input(type="submit", style="visibility: hidden;")
      li
        a.logout(href="/logout") Logout