- var creator = current_space.creator
- var isCreator = current_user.id == creator.id

script.
  creator="#{creator.name}";
  username = "#{current_user.name}";
  userId = "#{current_user.id}";
  users =  !{JSON.stringify(users)}
  names = !{JSON.stringify(names)}

ul.users.menu.right.hideFirst
  li.share
    a(href="#") Share
  li
    form.add-user
      label Share this space with someone
      input(type="text", name="user[email]", placeholder="name@email.com")
      input(type="submit", style="visibility: hidden;display:none;")
  li.heading Current members of this space
  each user in current_space.users
    if user.name != null
      li.user()
        span.name= name[0] + " " + name[1]
  li
    a.logout(href="/logout") Logout