- var creator = current_space.creator
- var isCreator = current_user.id == creator.id

script.
  creator="#{creator.name}";
  username = "#{current_user.name}";
  userId = "#{current_user.id}";
  users =  !{JSON.stringify(users)}
  names = !{JSON.stringify(names)}

ul.users
  each user in current_space.users
    if user.name != null
      li.user()
        - name = user.name.split(' ')
        span.initial= user.name[0]
        span.name= name[0].slice(1)
        if name[1]
          span.initial= name[1][0]
          span.name= name[1].slice(1)

  li.settings
    span.symbol
      …
    ul.menu.settings
      li
        form.add-user
          input(type="text", name="user[email]", placeholder="Invite someone to this space")
          input(type="submit", style="visibility: hidden;")
      li
        a.logout(href="/logout") Logout