extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  
  script(src="/js/collection.js")
  script(src="/js/element.js")


  script(src="/js/index/main.js")
  script(src="/js/home/headerMenu.js")
  script(src="/js/home/settingsMenu.js")
  
block content
  section.index
    header
      h1 Hotpot
      h2 Keep everything for your<br>project in one place.
      ul.form.signUpLogInForms
        li.form.closed Sign Up
          include partials/signUp
        li.form.closed Log In
          include partials/logIn
    section.space.example
      section.content
    
        -var collection_height = 800
        -for (var i = 0; i < collections.length; i++)
          -var collection = collections[i]
          -var top = (i * collection_height)
          section.collection.fake(style="position:fixed;height:"+collection_height+"px;", data-offset=top)
            header.collectionTitle
              h1!=collection.name
            .elements
              -for (var j = 0; j < collection.elements.length; j++)
                -var element = collection.elements[j]
                include partials/element
        script.
          collection_max_y="#{top}";