extends layout

block scripts
  include partials/indexScripts

block content
  section.space
  
    section.content
      article.draggable
        .card.login.text.nondraggable
          p
            input(type="checkbox", id="toggle-login")
            label(for="toggle-login") Sign Up
          form(id="login")
            p
              input(id="email",type="text", name="user[email]", placeholder="Mail")
            p
              input(id="password",type="password", name="user[password]", placeholder="Password")
            p
              input.offset(type="submit", value="Login")
            p(id="errorField")

      each element in elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        article.draggable(class=element.contentType, style="top:#{element.y}px;left:#{element.x}px;z-index:#{element.z};"+"transform:scale(#{element.scale},#{element.scale})")
          header
            a.delete X
            //- author= names[element.creatorId]
          case element.contentType
            when 'image'
              include partials/contentTypes/image
            when 'website'
              include partials/contentTypes/website
            default
              include partials/contentTypes/text

  script
    function onError(res) {
      $('#errorField').text(res.responseText);
    };

    $("#login").submit(function(e) {
      e.preventDefault();
      var fields = {
        email: $('#email').val(),
        password: $('#password').val()
      }
      var url = '';
      if($("#login").hasClass('register')) {
        url = '/register';
        fields.name = $('#name').val();
      } else {
        url = '/login';
      }
      $.post(url, fields).error(onError).success(function(path){
        location.pathname = path;
      })
    });

    $('#toggle-login').change(function() {
      $('#errorField').text("");
      if($(this).is(":checked")) {
        console.log("not checked?");
        var nameInput = "<p><input id='name' type='text' name='user[name]' placeholder='Full Name'></p>"
        $("form").removeClass("login")
          .addClass("register")
          .prepend(nameInput)
        $("input[type=submit]").val("Register");
      }
      else {
        $("form").removeClass("register")
          .addClass("login")
        $("input[name='user[name]']").remove();
        $("input[type=submit]").val("Login");
      }
    })