doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Scrap
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery-ui.min.js")
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/jquery/jquery-mousewheel.min.js")
    script(src="/js/jquery/jquery.zoomooz.js")
    script(src="/js/jquery/jquery.fileupload.js")

    script(src="/js/menuControllers/header.js")
    script(src="/js/menuControllers/settings.js")

    script(src="/js/lib/dragabilly.min.js")
    script(src="/js/lib/velocity.min.js")
    script(src="/js/lib/packery.js")
    script(src='/js/animations.js')
    script(src='/js/scrollController.js')
    script(src='/js/collectionModel.js')
    script(src='/js/collectionController.js')
    script(src='/js/navModel.js')
    script(src='/js/navController.js')
    script(src='/js/articleModel.js')
    script(src='/js/articleController.js')
    script(src='/js/main.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/lib/soundcloud-api.js')
    script(src='/js/lib/pen.js')
    script(src="/js/uploadForm.js")
    
    script(src="/js/contentControllers/file.js")
    script(src="/js/contentControllers/gif.js")
    script(src="/js/contentControllers/soundCloud.js")
    script(src="/js/contentControllers/video.js")
    script(src="/js/contentControllers/text.js")
    script(src="/js/contentControllers/youtube.js")
    script(src="/js/contentControllers/playable.js")
    script(src="/js/contentControllers/genericText.js")

    script(src="/js/contentEmitters/add.js")
    script(src="/js/contentEmitters/delete.js")
    script(src="/js/contentEmitters/upload.js")

    script(src="/js/utilityFunctions.js")
    script(src="/js/menuControllers/addArticle.js")

    script(src="/js/socketListeners.js")

    link(rel='stylesheet', href='/style/prototype.css')
    link(rel='stylesheet', href='http://fast.fonts.net/cssapi/a196ecb3-1f45-4a57-bc9d-919fbda80ae4.css')

    
    include mixins/article
    include mixins/addArticleForm

    script.
      var userName = "!{user.name}";
      var userId = +"!{user.id}";
      var collections = !{JSON.stringify(collections)};

  body
    nav.main
      section.left
        .addForm
          .headerButton
            a(href='#') Add
          +addArticleFormMixin()
      section.center
        ul.collectionsMenu
          li.labelsButton.openMenuButton
            .contents
              a(href='#') Labels
          li.collection.recent(data-collectionkey='recent')
            .contents
              a(href='#') Everything
          each collection, collectionKey in collections
            if typeof(collection.name) != undefined
              - var key = collection.collectionKey
              li.collection(data-collectionkey=key, class=key)
                .contents
                  a(href='#', style='color:'+collection.color+'; -webkit-text-fill-color:'+collection.color+';')!=collection.name
          li.newCollection
            .contents
              form(id='newCollectionForm')
                input(type="text", placeholder="new collection", maxlength="20")
                input(type='submit', value='Add')
      section.right
        div
          .headerButton
            a(href='#') Settings
          include partials/settingsMenu
    .wrapper
      #articleContainer
        for article in user.Articles
          if article != undefined
            +articleMixin(article, article.Collections)

    //- .comments
    //-   ul
    //-     li.comment
    //-       author.typeBody.smallCaps Cursus Pharetra
    //-       div Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    //-     li.comment
    //-       author.typeBody.smallCaps Magna Porta
    //-       div Ipsum pharetra
    //-     li.comment
    //-       author.typeBody.smallCaps Tellus Nullam
    //-       div Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    //-     li.comment
    //-       author.typeBody.smallCaps Tortor Inceptos
    //-       div Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    //-     li.comment
    //-       author.typeBody.smallCaps Vulputate Fermentum
    //-       div Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    //-       