extends layout

block scripts
  include partials/baseScripts
  script(src="/js/globals.js")
  script.
    window.io = {
      connect: function() {
        var socketStub = {
          emit: function() {}
        };
        return socketStub;
      }
    }
  script(src="/js/jquery/jquery.autogrowtextarea.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")

  script(src="/js/screenDrag.js")
  script(src="/js/meta-space/dragSpace.js")
  script(src="/js/meta-space/enterSpace.js")
  script(src="/js/meta-space/closeSpace.js")

block content
  header 
    a(class="home",href='/', style="display:none;") Home
  section.space
  
    section.content
      each space in user.spaces
        - cssString = "z-index:#{1};-webkit-transform:scale3d(#{1},#{1},1.0); transform:scale3d(#{1},#{1},1.0);"
        - imageCss = "background-image:url(https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/"+space.spaceKey+"/screenshot.jpg);"
        div.spacePreview.draggable(data-spaceId = space.spaceKey, style=cssString+imageCss)
          h1= space.name