doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery-ui.min.js")
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/jquery/jquery-mousewheel.min.js")
    script(src="/js/lib/dragabilly.min.js")
    script(src="/js/lib/velocity.min.js")
    script(src="/js/lib/packery.js")
    link(rel='stylesheet', href='/style/prototype.css')
    script(src='/js/prototype.js')
    //- script(src='/js/derp.js')
  body
    nav.main
      .backButton
        a(href="#")
          span ‹
      .bar
        ul.tabs
          li
            a.tab.recents.typeBody.smallCaps(href='#') Recents
          li
            a.tab.packs.typeBody.smallCaps(href='#') Packs
        // include partials/settingsMenu.jade
    .content
      - var n = 2
      .container.recents
        - for (var i = 0; i < n; i++) {
          - var pack = Math.floor(Math.random() * n)
          article.text(data-pack=pack, class=pack)
            .card.cardHover.text
              .editable
                h1 Header
                h2 header 2
                p paragraph
                p paragraph
                ol
                  li ordered
                  li list
                ul
                  li unordered
                  li lists
                blockquote quote
          - var pack = Math.floor(Math.random() * n)
          article.image(data-pack=pack, class=pack)
            .card.cardHover.image
              img(src='http://lorempixel.com/' + Math.floor(Math.random() * 600 + 50) + '/' + Math.floor(Math.random() * 600 + 50))
          - var pack = Math.floor(Math.random() * n)
          article.file(data-pack=pack, class=pack)
            .card.cardHover.file
              .fakeCard
                header
                  h1.headerType.title Filename
                  p.extension.smallCaps.bodyType PDF
                ul.card.cardHoverActions
                  li
                    a.download.confirm(href='#') Download
              .decorative.fold
          - var pack = Math.floor(Math.random() * n)
          article.website(data-pack=pack, class=pack)
            .card.cardHover.website
              .text
                header
                  h1.headerType Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                  .url.smallType.smallCaps nytimes.com
                .description.smallType Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
              img(src='http://lorempixel.com/400/300')
              a(href=url, target='_blank', title='Open “Title” in a new tab')
          - var pack = Math.floor(Math.random() * n)
          article.soundcloud.playable(data-pack=pack, class=pack)
            .card.cardHover.text.playable
              .preview
                - var size = Math.floor(Math.random() * 100 + 200)
                img(src='http://lorempixel.com/' + size + '/' + size)
              header
                .top
                  h1.headerType.title Title
                  .artist.smallType Name
                .detail
                  .source.smallType.smallCaps Source
          - var pack = Math.floor(Math.random() * n)
          article.youtube.playable(data-pack=pack, class=pack)
            .card.cardHover.text.playable
              .preview
                - var w = Math.floor(Math.random() * 100 + 300)
                - var h = Math.floor(w / (16/9))
                img(src='http://lorempixel.com/' + w + '/' + h)
              header
                .top
                  h1.headerType.title Title
                  .artist.smallType Name
                .detail
                  .source.smallType.smallCaps Source
        - }
      .container.packs
        - for (var i = 0; i < n; i++) {
          - var name = 'This Is My Amazing Pack #' + i
          section.pack(data-pack=i, class=i)
            header.card
              h1.typeTitle.packTitle= name
        - }