doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Scrap
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery-ui.min.js")
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/jquery/jquery-mousewheel.min.js")
    script(src="/js/jquery/jquery.zoomooz.js")

    script(src="/js/menuControllers/header.js")
    script(src="/js/menuControllers/settings.js")

    script(src="/js/lib/dragabilly.min.js")
    script(src="/js/lib/velocity.min.js")
    script(src="/js/lib/packery.js")
    script(src='/js/prototype.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/lib/soundcloud-api.js')
    script(src='/js/lib/pen.js')
    script(src="/js/uploadForm.js")
    
    script(src="/js/contentControllers/file.js")
    script(src="/js/contentControllers/gif.js")
    script(src="/js/contentControllers/soundCloud.js")
    script(src="/js/contentControllers/video.js")
    script(src="/js/contentControllers/text.js")
    script(src="/js/contentControllers/youtube.js")
    script(src="/js/contentControllers/playable.js")
    script(src="/js/contentControllers/genericText.js")

    script(src="/js/contentEmitters/add.js")
    script(src="/js/contentEmitters/delete.js")

    script(src="/js/menuControllers/addArticle.js")

    script(src="/js/socketListeners.js")

    link(rel='stylesheet', href='/style/prototype.css')
    //- link(rel='stylesheet', href='http://fast.fonts.net/cssapi/a196ecb3-1f45-4a57-bc9d-919fbda80ae4.css')

    
    include mixins/article
    include mixins/addArticleForm

    script.
      var userName = "!{user.name}";
      var userId = +"!{user.id}";
      var collections = !{JSON.stringify(collections)};

  body
    nav.main(style='width:100vw;position:fixed;z-index:3;')
      .addForm.left(style='position:absolute;left:0;')
        .headerButton
          a(href='#') Add
        +addArticleFormMixin()

      ul.collections.center(style='position:absolute;')
        li.headerButton
          a(href='#') Collections
        li.collection.recent(data-collectionkey='recent')
          a(href='#') Recent
        each collection, collectionKey in collections
          if typeof(collection.name) != undefined
            - var key = collection.collectionKey
            li.collection(data-collectionKey=key, class=key)
              a(href='#', style='color:'+collection.color+';')!=collection.name
        li.newCollection
          form(id='newCollectionForm')
            input(type="text", placeholder="new collection", maxlength="20")
            input(type='submit', value='Add')
          //- a.cancel(href='#') Cancel
          //- a.save(href='#') Save


      .settings.right(style='position:absolute;right:0;')
        .headerButton
          a(href='#') Settings
      //- ul.panel.settings.right
      //-   li.panelHeader
      //-     a(href='#') Settings
      //-   li.menu
      //-     ul
      //-       li.first.hideOnOpenSubmenu.userName.typeOutlineClear.typeOutlineBlackOnHover.typeWeightBold • • •
      //-       li.hideOnOpenSubmenu.bodyType.smallCaps Antonio Ono
      //-       li.update.hideOnOpenSubmenu
      //-         a(href="#") Edit your account
      //-       ul.submenu
      //-         li.hidden.backButton
      //-           a(href="#")
      //-             span ‹
      //-         form
      //-           li.hidden.smallType Update your name, email, or password
      //-           li.input.inputText.hidden
      //-             input.name(type="text", name="user[email]", placeholder="Name")
      //-           li.input.inputText.hidden
      //-             input.email(type="email", name="user[email]", placeholder="Email")
      //-           li.input.inputText.hidden
      //-             input.password(type="password", name="user[email]", placeholder="Password")
      //-           li.input.submit.save.closeButton.hidden
      //-             input.confirm(type="submit", value="Save")
      //-       li.logout.hideOnOpenSubmenu
      //-         a.feedback(href="mailto:scrapspaces@gmail.com") Send feedback
      //-       li.logout.hideOnOpenSubmenu
      //-         a.logout(href="/logout") Sign out
    //- .content
    //- 
    //- .zoomViewport
    //-   .zoomContainer
    #container.recents
      for article in user.Articles
        +articleMixin(article, article.Collections)

    //- .comments
    //-   ul
    //-     li.comment
    //-       author.typeBody.smallCaps Cursus Pharetra
    //-       div Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    //-     li.comment
    //-       author.typeBody.smallCaps Magna Porta
    //-       div Ipsum pharetra
    //-     li.comment
    //-       author.typeBody.smallCaps Tellus Nullam
    //-       div Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    //-     li.comment
    //-       author.typeBody.smallCaps Tortor Inceptos
    //-       div Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    //-     li.comment
    //-       author.typeBody.smallCaps Vulputate Fermentum
    //-       div Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    //-       