extends layout

block scripts
  include partials/readOnlyScripts

block content
  header 
    p You can not make changes to this space.

  section.space
  
    section.content

      each element in current_space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        article.draggable(id=element.id, class=element.contentType, style="top:#{element.y}px;left:#{element.x}px;z-index:#{element.z};-webkit-transform:scale(#{element.scale},#{element.scale});transform:scale(#{element.scale},#{element.scale});")
          a.delete
          case element.contentType
            when 'image'
              include partials/contentTypes/image
            when 'website'
              include partials/contentTypes/website
            default
              include partials/contentTypes/text