.card.image.gif(data-key=element.content)
  header(style="-webkit-transform:scale3d(#{1/element.scale},#{1/element.scale},1.0); transform:scale3d(#{1/element.scale},#{1/element.scale},1.0);", data-scale="#{1/element.scale}")
    author= nameMap[element.creatorId]
  root = 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'
  img(src= root+current_space.spaceKey+"/"+element.content+'/normal.png')