
header(style="-webkit-transform:scale3d(#{1/element.scale},#{1/element.scale},1.0); transform:scale3d(#{1/element.scale},#{1/element.scale},1.0);", data-scale="#{1/element.scale}")
  author= nameMap[element.creatorId]
video("controls")
  source(src=element.content)
  | Your browser does not support the video tag