-var content = JSON.parse(element.content)
-var url = decodeURIComponent(content.url)
.card.website
  header(style="-webkit-transform:scale3d(#{1/element.scale},#{1/element.scale},1.0); transform:scale3d(#{1/element.scale},#{1/element.scale},1.0);", data-scale="#{1/element.scale}")
    author= nameMap[element.creatorId]
  .card.image
    img(src=content.image)
  .card.header.text
    .title
      p!=content.title
    .url
      a(href=url, target='_blank')
        p!=content.domain