-var content = JSON.parse(element.content)
-var url = decodeURIComponent(content.url)

.card.website
  a(href=url, target='_blank')
    .card.text.title
      p!=content.title
    .card.img
      img(src=content.image)
    .card.header.text
      .title
        p!=content.title
      .description
        p!=content.description
  if element.caption == '' || element.caption == null
    .ui-resizable-handle.ui-resizable-se
if element.caption !== '' && element.caption !== null
  .card.text.caption
    p!=element.caption
    .background
    .ui-resizable-handle.ui-resizable-se