mixin addCollectionFormMixin(collection)
  - var coverClasses = [ 'cover', 'closed', 'new', 'addProjectForm', 'peek']
  - var defaulttext = "New pack"
  article(
    data-contenttype='addProjectForm',
    data-defaulttext=defaulttext,
    class=coverClasses
  )
    .card.newCard
      section.title
        h1.collectionTitle.typeTitle.typeOutlineClear!=defaulttext
        h2.peekTitle.bodyType.typeBody.typeWeightBold!=defaulttext
