mixin articleMixin(article, collections)
  -
    var classes =  [article.contentType] //, 'zoomTarget'
    var content = article.content
    for (var i = 0; i < collections.length; i++) {
      classes.push(collections[i].collectionKey)
    }
    if (article.contentType == 'youtube' || article.contentType == 'soundcloud') {
      classes.push('playable')
    }

  article(id=article.id, style= posString,
    class = classes,
    data-contenttype= article.contentType,
    data-creatorid  = article.creatorId,
    data-content    = article.content
  )
    .collections.popLayer(data-popdepth='1')
      ul.articleCollections(style='position:absolute;')
        li.addCollection
          a
            .animate Add label
          .dot(style='height: 0; width: 0; opacity: 0; display: none; visibility: hidden;')
        - for (var i = 0; i < collections.length; i++)
          - var collection = collections[i]
          - var key = collection.collectionKey
          li.collection(data-collectionKey=key, class=key)
            a.typeSmall(href='#', style='color:'+collection.color+'; -webkit-text-fill-color:'+collection.color+';', data-color=collection.color)
              .animate!=collection.name
            .dot(style='background-color:'+collection.color+';')
      ul.addCollectionMenu

    .card.cardHover.cardDrag(class=article.contentType)
      case article.contentType

        when 'image'
          img.popLayer(data-popdepth='.5', src = content.original_url)

        when 'website'
          -var url = decodeURIComponent(content.url)
          header
            - if (collections[0] != undefined)
              - var color = collections[0].color
            h1.headerType.popLayer(data-popdepth='.5')!=content.title
            .detail
              .source.bodyType.smallCaps.popLayer(data-popdepth='.375')!=content.domain
              .description.popLayer.popHidden(data-popdepth='.25')!=content.description
          .image.popLayer(data-popdepth='.5')
            img(src=content.image)
          a(href=url, target='_blank')
          // title='Open “' + content.title + '” in a new tab')

        when 'file'
          .fakeCard
            header
              - name = content.split('/').pop()
              //- - extension = name.pop()
              h1.headerType.title=name.split('.')[0]
              p.extension.smallCaps.bodyType=name.split('.').pop()
            ul.cardActions
              li
                a.download.confirm(href='#') Download
          .decorative.fold

        when 'video'
          video()
            source(src = content.url)

        when 'soundcloud'
          .preview.popLayer(data-popdepth='.5', title='Play “' + content.title + '”')
            img.soundcloudThumbnail(src = content.thumbnail_url)
          header
            .top.popLayer(data-popdepth='0', data-poptranslate={x: 0, y: -0})
              .artist.smallType.popLayer(data-popdepth='.125', data-poptranslate={x: 0, y: -24})!=content.author_name
              h1.headerType.typeOutlineWhite.title.popLayer(data-popdepth='.375')!=content.title
            .detail.popLayer(data-popdepth='.125', data-poptranslate={x: 0, y: 36})
              .source.smallType.smallCaps SoundCloud

        when 'youtube'
          .preview.popLayer(data-popdepth='.5', title='Play “' + content.title + '”')
            img.youtubeThumbnail(src=content.image)
          header
            .top.popLayer(data-popdepth='0', data-poptranslate={x: 0, y: -0})
              // .artist.smallType.popLayer(data-popdepth='.1', data-poptranslate={x: 0, y: -24}) Artist
              h1.headerType.typeOutlineWhite.title.popLayer(data-popdepth='.375')!=content.title
            .detail.popLayer(data-popdepth='.125', data-poptranslate={x: 0, y: 36})
              .source.smallType.smallCaps youtube
          .playButton


        when 'text'
          //- contentEditable="false", designmode="on"
          .editable.popLayer(data-popdepth='.375')
            | !{article.content.text}
          // ul.cardActions.popLayer(data-popdepth='.75')
          //   li.right.showOnEditing
          //     a.done.actionButton.confirm(href='#') Done
              //- a.invisible.cancel.confirm(href='#') Cancel
        default
          p!=article.content
    footer.popLayer(data-popdepth='.125')
      .meta
        ul
          li.left
            if article.Creator !== undefined
              author.smallType!=article.Creator.name
          li.right
            // input.articleDeleteButton.smallType(type='button', value='Delete')
            .menuNeue
              input.menuOpenButton.actionButton(type='button', value='• • •')
              ul.menuItems.popLayer(data-popdepth='1')
                li
                  input.articleArchiveButton(type='button', value='Archive')
                li
                  input.articleDeleteButton(type='button', value='Delete')
