mixin articleMixin(article, collections)
  -
    var classes =  [article.contentType, 'zoomTarget']
    var content = article.content
    for (var i = 0; i < collections.length; i++) {
      classes.push(collections[i].collectionKey)
    }
    if (article.contentType == 'youtube' || article.contentType == 'soundcloud') {
      classes.push('playable')
    }
    // var color = collection.color
    // var pattern = /^hsl\(([-.0-9]+),(0|100|\d{1,2})%,([-.0-9]+)%\)$/
    // var hue = color.match(pattern)[1]
    // var hslLight = 'hsl('+hue+',100%, 98%)'
        
    // if (article.contentType == 'text'){
    //   var backgroundColor = hslLight
    // } else {
    //   var backgroundColor = ''
    // }

  article(id=article.id, style= posString,
    class = classes,
    data-contenttype= article.contentType, 
    data-creatorid  = article.creatorId, 
    data-content    = article.content
  )
    .articleControls
      - if(article.Creator !== undefined)
        author.smallType!=article.Creator.name

    ul.articleCollections
      if collections.length > 0
        for (var i = 0; i < collections.length; i++)
          - var key = collection.collectionKey
          li.collection(data-collectionKey=key, class=key)
            a(href='#', style='color:'+collection.color+';')!=collection.name
    
    .card.cardHover.cardDrag(class=article.contentType)
      case article.contentType
        
        when 'image'
          img(src = content.original_url)
        
        when 'website'
          -var url = decodeURIComponent(content.url)
          .text
            header
              h1.headerType!=content.title
              .url.smallType.smallCaps!=content.domain
            .description.smallType!=content.description
          img(src=content.image)
          a(href=url, target='_blank', title='Open “' + content.title + '” in a new tab')
  
        when 'file'
          .fakeCard
            header
              - name = content.split('/').pop()
              //- - extension = name.pop()
              h1.headerType.title=name.split('.')[0]
              p.extension.smallCaps.bodyType=name.split('.').pop()
            ul.cardActions
              li
                a.download.confirm(href='#') Download
          .decorative.fold
  
        when 'video'
          video()
            source(src = content.url)
        
        when 'soundcloud'
          .preview(title='Play “' + content.title + '”')
            img.soundcloudThumbnail(src = content.thumbnail_url)
          header
            .top
              h1.headerType.title!=content.title
              .artist.smallType!=content.author_name
            .detail
              .source.smallType.smallCaps SoundCloud
        
        when 'youtube'
          .preview(title='Play “' + content.title + '”')
            img.youtubeThumbnail(src=content.image, style='width:480px; height: 270px')
          header
            .top
              h1.headerType.title!=content.title
              .artist.smallType Artist
            .detail
              .source.smallType.smallCaps youtube
  
        when 'text'
          //- contentEditable="false", designmode="on"
          .editable()
            | !{article.content.text}
          ul.cardActions
            li.right.showOnEditing
              a.done.confirm(href='#') Done
              //- a.invisible.cancel.confirm(href='#') Cancel
        default
          p!=article.content
    
      