include article
include addCollectionForm
include addArticleForm

-
  function formatCollection(collection) {
    var articles = collection.Articles || []
    var children = collection.children || []
    var articleOrder = collection.articleOrder

    collection.content = articles.concat(children)
          
    collection.content.sort(function(a, b){ 
      if (a instanceof models.Collection.Instance) {
        a_i = articleOrder.indexOf(a.collectionKey)
      } else {
        a_i = articleOrder.indexOf("#{a.id}")
      }
      if (b instanceof models.Collection.Instance){
        b_i = articleOrder.indexOf(b.collectionKey)
      } else {
        b_i = articleOrder.indexOf("#{b.id}")
      }
      return ((a_i > b_i) ? 1 : -1)
    })
    return collection
  }

mixin collectionContentMixin(collection)
  //- - collection = collection
  if collection.content !== undefined
    each content in collection.content
      if content.collectionKey !== undefined
        +collectionMixin(content)
      else
        +articleMixin(content)

mixin collectionMixin(collection)
  - var classes = 'closed ' + collection.collectionKey
  - if(collection.root == true){
    - classes = classes+' root'
  - }

  .collection(
    class         = classes
    data-contenttype= "collection"
    data-collectionkey = collection.collectionKey,
    data-hascover = collection.hasCover
  )
    if collection.root == false
      article(class = 'cover', style='z-index:2;')
        .content
          .articleControls
            a.articleDeleteButton.warning.bodyType.smallCaps Delete
          if collection.hasCover
            .transform
              .scale
                .card.cover.cardHover.cardDrag.colored(style='background-color:'+collection.color)
                  section.title
                    h1.collectionTitle.typeTitle.typeOutlineClear!=collection.name
                    h2.peekTitle.bodyType.typeBody.typeWeightBold!=collection.name
                    p.rename
                      a.smallType Rename
                  section.shareMenu
                    ul.users.menu.slideIn.left.canOpen.smallType
                      if collection.Users == undefined
                        li.user
                          label.smallType.smallCaps.invisible Shared with
                      else
                        li.user
                          label.smallType.smallCaps Shared with
                        for user in collection.Users
                          li.user!=user.name
                      li.user.add
                        form.addUser(data-collectionkey=collection.collectionKey)
                          ul
                            li
                              label.instruction.smallType.smallCaps Add someone to this Pack
                              p.notice.smallType
                            li
                              input.smallType(type="email", name="user[email]", placeholder="Mail")
                              input.smallType(type="submit", value="Send")

    .contentContainer(style='z-index:1;')
      +collectionContentMixin(collection)

    if collection.root
      +addCollectionFormMixin(collection)
    else
      +addArticleFormMixin(collection)